*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 ,h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
   object-fit: cover; 
}

*:focus {outline: none}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    
}

.container {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}

.btn {
    display: block;
    background-color: #F9804B;
    width: 298px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

.friend__card-img-mobile {
    display: none;
}

/*  HEADER  */

.header {
    color: #fff;
    background-color: #000;
    padding-top: 14px;
    height: 80px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__left {
    display: flex;
    align-items: center;
    gap: 63px;
}

.logo {
    width: 82px;
    height: 52px;
    margin-left: 4px;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 3px 0px;
    position: relative;
    transition: all .2s;
    cursor: pointer;
}

.logo__title {
    font-size: 19px;
    line-height: 120%;
    text-align: center;
}

.logo__img {
    position: absolute;
    top: 23px;
    left: 9px;
}

.logo:hover {
    border-color: #E47209;
    color: #E47209;
}

.logo:active {
    border-color: #4B9200;
    color: #4B9200;
}

.menu {
    display: flex;
    gap: 58px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.nav .menu__item:nth-child(1) {
    color: #F9804B;
}

.menu__item {
    transition: all .2s;
}

.menu__item:hover {
    color: #E47209;
}

.menu__item:active {
    color: #4B9200;
}

.nav__two .menu__item {
    margin-right: -4px;
}

.mobile__menu {
    display: none;
}
/*  /HEADER  */


/*  FAVORITE  */

.favorite {
    background-image: url(../images/main/favorite/favorite-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 223px;
    padding-top: 12px;
}

.favorite__inner {
    display: flex;
    justify-content: flex-end;
}


.watch {
    width: 465px;
    height: 465px;
    border-radius: 50%;
    background-color: #F9804B;
    position: relative;
    margin-right: 104px;
}

.watch__title {
    color: #fff;
    max-width: 500px;
    font-weight: 700;
    font-size: 107px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 73px;
    left: 81px;
}

.watch__title span {
    color: #FFEE2E;
}

.favorite__btn {
    position: relative;
    top: 534px;
    left: 176px;
    height: 54px;
    border-radius: 25px;
    padding-left: 21px;
    transition: all .2s;
}

.favorite__btn:hover {
    background: #E47209;
}

.favorite__btn:active {
    background: #4B9200;
}

/*  /FAVORITE  */

/*  BACKSTAGE  */

.backstage {
    padding-top: 139px;
    padding-bottom: 160px;
    color: #333b41;
    position: relative;
    overflow: hidden;
}

.backstage__btn {
    display: none;
    border-radius: 25px;
    padding-left: 21px;
}

.backstage__inner {
    display: flex;
    gap: 87px;
}

.backstage__img {
    margin-left: 3px;
    margin-top: 1px;
    height: 403px;
}

.backstage__title {
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 21px;
    font-weight: 400;
}

.backstage__text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 52px;
}

.backstage__text:last-child {
    margin-bottom: 0;
}

.backstage__subtitle {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 34px;
}

.backstage__decor {
    position: absolute;
    top: 11px;
    right: -4px;
    
}

/*  /BACKSTAGE */


/*  PETS  */
.pets {
    position: relative;
    overflow: hidden;
    padding-top: 18px;
    padding-bottom: 100px;
}

.pets__grid {
    display: grid;
    grid-template-columns: 366px 366px 366px;
    gap: 21px 30px;
    position: relative;
    margin-bottom: 85px;
}

.pets__cell {
    width: 369px;
    height: 423px;
    border: 1px solid #F9804B;
    border-radius: 5px;
    cursor: pointer;
    
}

.pets__img {
    width: 100%;
    height: 366px;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all .2s;
}

.pets__cell:hover .pets__img {
    
    border-radius: 5px;
    transform: scale(1.05);
    filter: brightness(0.5)
}

.pets__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .2s;
}

.pets__cell:hover .pets__inner{
    transform: translateY(-50px);
    color: #fff;
}

.pets__content {
    margin-top: 1px;
    margin-left: 20px;
}

.pets__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

.pets__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
}

.pets__inner-img {
    margin-right: 7px;
    margin-top: 1px;
}

.arrow {
    width: 62px;
    height: 62px;
    background-color: #F9804B;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s;
    cursor: pointer;
}

.pets__arrow-prev {
    left: -78px;
}

.pets__arrow-next {
    right: -84px;
}

.pets__arrow-prev:hover,
.pets__arrow-next:hover {
    background-color: #E47209;
}

.pets__arrow-prev:active,
.pets__arrow-next:active {
    background-color: #4B9200;
}

.pets__btn {
    padding: 16px 56px;
    border-radius: 25px;
    margin: 0 auto;
    transition: all .2s;
}

.pets__btn:hover {
    background-color: #E47209;
}

.pets__btn:active {
    background-color: #4B9200;
}

.decor {
    position: absolute;
    bottom: 0;
}

.pets__decor-left {
    left: -512px;
}

.pets__decor-right {
    right: -4px;
}

/*  /PETS  */


/*  FRIEND  */

.friend {
    padding-top: 69px;
    padding-bottom: 100px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%);
}

.friend__container {
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding-bottom: 58px;
    margin-left: 4px;
}

.friend__title {
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #F9804B;
    padding-top: 41px;
    margin-bottom: 30px;
    margin-left: 7px;
}

.friend__subtitle {
    font-size: 24px;
    line-height: 120%;
    color: #333b41;
    margin-left: 99px;
    margin-bottom: 42px;
}

.friend__subsubtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #333b41;
    margin-left: 99px;
    margin-bottom: 10px;
}

.friend__text {
    width: 863px;
    font-size: 16px;
    line-height: 130%;
    color: #333b41;
    margin-left: 99px;
    margin-bottom: 60px;
}

.friend__link {
    transition: all .2s;
}

.friend__link:hover {
    color: #E47209;
}

.friend__link:active {
    color: #4B9200;
}

.friend__link::after {
    content: "";
    display: block;
    width: 178px;
    border: 1px solid #F9804B;
    margin-left: 87px;
}

.friend__content-title {
    font-size: 36px;
    line-height: 130%;
    color: #333b41;
    text-align: center;
    margin-bottom: 40px;
}

.friend__content {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 57px;
}

.friend__card {
    width: 168px;
    height: 244px;
    position: relative;
}

.friend__box {
    height: 168px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F9804B;
    margin-bottom: 31px;
}

.card-1 {
    left: 112px;
}

.card-3 {
    right: 108px;
}

.friend__card-img {
    width: 69px;
    height: 35px;
    position: relative;
}

.friend__arrow-1 {
    left: 57px;
    top: 62px;
}

.friend__arrow-2 {
    right: 54px;
    top: 56px;
}

.friend__btn {
    border-radius: 25px;
    padding: 16px 56px;
    margin: 0 auto;
    transition: all .2s;
}

.friend__btn:hover {
    background-color: #E47209;
}

.friend__btn:active {
    background-color: #4B9200;
}

/*  /FRIEND  */


/*  TESTIMONIALS */

.testimonials {
    padding-top: 143px;
    padding-bottom: 180px;
    position: relative;
    overflow: hidden;
}



.testimonials__title {
    font-size: 36px;
    line-height: 37px;
    text-align: center;
    color: #333b41;
    margin-bottom: 54px;
    margin-left: 8px;
}

.testimonials__inner {
    display: flex;
    gap: 30px;
    margin-bottom: 26px;
}

.testimonials__card {
    width: 268px;
    padding: 16px;
    background-color: #f1f3f2;
    border-radius: 20px;
    position: relative;
}

.testimonials__card::before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    border-radius: 20px;
    z-index: -1;
    background:  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.testimonials__card-top {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.testimonials__name {
    font-size: 16px;
    line-height: 120%;
}

.testimonials__local {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #bdbdbd;
}

.testimonials__text {
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #767474;
}

.testimonials__scrollbar {
    position: relative;
    width: 599px;
    height: 8px;
    border-radius: 5px;
    background-color: #f5f7f5;
    margin: 0 auto 32px auto;
}

.testimonials__scrollbar::before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    border-radius: 5px;
    z-index: -1;
    background:  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.testimonials__scrollbar-band {
    width: 115px;
    height: 9px;
    border-radius: 5px;
    background-color: #F9804B;
    cursor: pointer;
    transition: all .2s;
}

.testimonials__scrollbar-band:hover {
    background-color: #E47209;
}

.testimonials__scrollbar-band:active {
    background-color: #4B9200;
}

.testimonials__btn {
    border-radius: 5px;
    padding: 16px 56px;
    transition: all .2s;
    
}

.testimonials__btn:hover {
    background-color: #E47209;
}

.testimonials__btn:active {
    background-color: #4B9200;
}

.testimonials__decor {
    position: absolute;
    right: -4px;
    bottom: -132px;
}

/*  /TESTIMONIALS  */


/*  FOOTER  */
.footer {
    background-color: #000;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 50px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer .logo {
    margin-bottom: 68px;
}

.footer__btn {
    border-radius: 5px;
    padding: 16px 49px;
    margin-bottom: 44px;
    margin-left: 4px;
    cursor: pointer;
    transition: all .2s;
}

.footer__btn:hover {
    background-color: #E47209;
}

.footer__btn:active {
    background-color: #4B9200;
}

.footer__social {
    margin-left: 4px;
}

.social__item {
    margin-bottom: 6px;
}

.social__item:last-child {
    margin-bottom: 0;
}

.social__link span {
    position: relative;
    bottom: 6px;
    margin-left: 6px;
}
    

.social__link {
    transition: all .2s;
}

.social__link:hover  {
    color: #E47209;
}

.social__link:active  {
    color: #4B9200;
}

.facebook circle ,
.twitter circle ,
.instagram circle ,
.youtube circle {
    transition: all .2s ease-in-out;
}

.facebook:hover circle {
    fill: #3754a0;
}

.facebook:active circle {
    fill: #4B9200;
}

.twitter:hover circle {
    fill: #17a2f2;
}

.instagram:hover circle {
    fill: #a340b2;
}

.youtube:hover circle {
    fill: #ff0000;
}

.footer .nav {
    align-self: flex-end;
    margin-left: 71px;
    margin-bottom: 5px;
}

.footer__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__right-title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 14px;
}

.form__input {
    width: 228px;
    height: 42px;
    background-color: transparent;
    border: 0.7px solid #F9804B;
    border-radius: 2px;
    margin-right: 3px;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    padding-left: 10px;
}

.form__input::placeholder {
    padding: 10px 100px 10px 5px;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}

.form__btn {
    display: inline-block;
    width: 129px;
    height: 41px;
    background-color: #f1f3f2;
    border: 1px solid #4B9200;
    border-radius: 5px;
    padding: 10px 39px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #4B9200;
    transition: all .2s;
}

.form__btn:hover  {
    color: #fff;
    background-color: #E47209;
    border-color: #E47209;
}

.form__btn:active {
    background-color: #4B9200;
    border-color: #4B9200;
}

.footer__right-author {
    align-self: flex-end;
    margin-bottom: 5px;
}

.author__text {
    font-weight: 100;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 10px;
}

.author__text:last-child {
    margin-bottom: 0;
}

/*  /FOOTER  */


/* MEDIA */

@media(max-width:1000px) {
    
    /* HEADER */
    .menu {
        gap: 48px;
    }

    .nav__two .menu__item {
        margin-right: 36px;
    }

    /* FAVORITE  */
    .favorite {
        padding-top: 0;
        overflow: hidden;
        padding-bottom: 137px;
    }

    .watch {
        width: 367px;
        height: 367px;
        margin-right: 183px;
        position: relative;
        bottom: 11px;
    }

    .watch__title {
        font-size: 85px;
        line-height: 75%;
        top: 54px;
        left: 66px;
    }

    .favorite__btn {
        top: 414px;
        left: 109px;
    }

    /* BACKSTAGE */
    .backstage {
        padding-top: 99px;
        padding-bottom: 124px;
    }

    .backstage__inner {
        gap: 31px;
    }

    .backstage__decor {
        display: none;
    }

    .backstage__img {
        width: 455px;
        height: 408px;
        margin-top: 10px;
        margin-left: 4px;
    }

    .backstage__title {
        margin-bottom: 21px;
    }

    .backstage__text {
        width: 454px;
    }

    /* PETS */
    .pets {
        padding-bottom: 140px;
        overflow: hidden;
    }

    .pets__grid {
        grid-template-columns: repeat(3, 297px);
        gap: 92px 28px;
        margin-bottom: 81px;
    }

    .pets__cell {
        width: 298px;
        height: 354px;
    }

    .pets__img {
        height: 296px;
    }

    .pets__arrow-prev {
        left: 327px;
        top: 50%;
    }

    .pets__arrow-next {
        right: 358px;
        top: 50%;
    }

    .pets__btn {
        margin-right: 357px;
    }

    .pets__decor-left {
        width: 352px;
        height: 202px;
        left: -175px;
        bottom: 0px;
    }

    .pets__decor-right {
        width: 241px;
        height: 180px;
        right: 0;
    }

    /* FRIEND */

    .friend {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .friend__container {
        margin-right: 36px;
        padding-bottom: 50px;
    }

    .friend__title {
        padding-top: 30px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 21px;
    }

    .friend__subtitle {
        margin-left: 49px;
        margin-bottom: 21px;
    }

    .friend__subsubtitle {
        width: 813px;
        margin-left: 49px;
    }

    .friend__text {
        width: 823px;
        margin-left: 48px;
        margin-bottom: 38px;
    }

    .friend__link::after {
        content: "";
        display: block;
        width: 178px;
        border: 1px solid #F9804B;
        margin-left: 87px;
        position: relative;
        left: 65px;
        bottom: 2px;
    }


    .friend__content {
        margin-bottom: 70px;
    }

    .friend__box {
        position: relative;
    }

    .box-1000-1 {
        right: 74px;
    }

    .box-1000-2 {
        left: 0px;
    }
    
    .box-1000-3 {
        left: 71px;
    }

    .friend__arrow-1 {
        left: 21px;
        top: 61px;
    }

    .friend__arrow-2 {
        right: 19px;
        top: 60px;
    }

    .friend__card-text {
        position: relative;
    }

    .card-text-1000-1 {
        right: 74px;
    }

    .card-text-1000-3 {
        left: 70px;
    }

    /* TESTIMONIALS */
    .testimonials {
        padding-top: 105px;
        padding-bottom: 140px;
    }

    .testimonials__title {
        margin-left: 0px;
        margin-right: 32px;
        margin-bottom: 37px;
    }

    .testimonials__inner {
        margin-bottom: 18px;
    }

    .testimonials__card {
        width: 293px;
        height: 391px;
    }

    .testimonials__card:last-child {
        display: none;
    }

    .testimonials__scrollbar {
        width: 389px;
        margin-right: 318px;
        margin: 0 318px 52px auto;
    }

    .testimonials__scrollbar-band {
        width: 75px;
    }

    .testimonials__btn {
        margin-left: 4px;
    }

    .testimonials__decor {
        width: 239px;
        height: 317px;
        right: -7px;
        bottom: -97px;
    }

    /* FOOTER */
    .footer__left {
        margin-left: 14px;
    }

    .footer__right-title {
        position: relative;
        right: 83px;
    }

    .form__input {
        position: relative;
        right: 83px;
    }

    .form__btn {
        position: relative;
        bottom: 41px;
        left: 154px;
    }

    .footer .nav {
        margin-left: -8px;
        margin-bottom: 4px;
    }

    .footer .nav .menu__item:last-child {
        width: 78px;
    }

    .author__text {
        position: relative;
        right: 25px;
    }
}


@media(max-width: 660px) {
    /* HEADER */
    .header {
        height: 34px;
        padding-top: 0px;
        
    }

    .logo {
        margin-left: 10px;
        border: none;
    }

    .logo__title {
        width: 47px;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
    }

    .logo__img {
        width: 11px;
        height: 13px;
        top: 16px;
        left: 3px;
    }

    .nav, 
    .nav__two {
        display: none;
    }

    .mobile__menu {
        display: block;
    }

    .mobile__menu-icon {
        margin-right: 10px;
        margin-bottom: 21px;
        cursor: pointer;
    }

    .icon__1, 
    .icon__2,
    .icon__3 {
        width: 18px;
        height: 2px;
        background-color: #fff;
        border-radius: 2;
        margin-bottom: 3px;
        transition: all .2s;
    }

    .icon__3 {
        margin-bottom: 0;
    }

    .mobile__menu-icon:hover .icon__1,
    .mobile__menu-icon:hover .icon__2,
    .mobile__menu-icon:hover .icon__3 {
        background-color: #E47209;
    }

    .mobile__menu-icon:active .icon__1,
    .mobile__menu-icon:active .icon__2,
    .mobile__menu-icon:active .icon__3 {
        background-color: #4B9200;
        transform: rotate(180deg);
    }

    .mobile__menu .menu {
        display: none;
    }

    /* FAVORITE */
    .favorite {
        padding-bottom: 102px;
    }

    .watch {
        width: 237px;
        height: 237px;
        margin-right: 183px;
        position: relative;
        bottom: 0px;
        top: 10px;
        left: 121px;
    }

    .watch__title {
        font-size: 54px;
        line-height: 41px;
        top: 37px;
        left: 42px;
    }

    .favorite__btn {
        top: 235px;
        left: -311px;
    }

    /* BACKSTAGE */
    .backstage {
        padding-top: 60px;
        padding-bottom: 62px;
    }



    .backstage__title {
        margin-left: 14px;
        margin-bottom: 19px;
    }

    .backstage__text {
        margin-left: 10px;
        margin-bottom: 29px;
        width: 495px;
    }

    .backstage__subtitle {
        margin-left: 14px;
        margin-bottom: 20px;
    }

    .backstage__img {
        display: none;
    }

    .backstage__decor {
        display: block;
        width: 163px;
        height: 471px;
        top: 2px;
        right: -31px;
    }

    /* PETS */
    .pets {
        padding-bottom: 100px;
    }

    .pets__grid {
        
        gap: 91px 18px;
        margin-bottom: 61px;
    }

    .pets__cell {
        width: 286px;
        height: 332px;
        margin-left: 9px;

    }

    .pets__img {
        height: 284px;
    }

    .arrow {
        top: 49.5%;
    }
    
    .pets__arrow-prev {
        left: 232px;
    }

    .pets__arrow-next {
        right: 234px;
    }

    .pets__btn {
        margin: 0 auto;
    }

    .pets__decor-left {
        left: -219px;
    }

    .pets__decor-right {
        width: 186px;
        height: 130px;
        right: -5px;
    }

    /* FRIEND*/
    .friend {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .friend .container {
        padding: 0;
        max-width: 1160px;

    }

    .friend__container {
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 60px;

    }

    .friend__title {
        font-size: 42px;
        line-height: 50px;
        padding-top: 11px;
        margin-left: 0px;
        margin-bottom: 18px;
    }

    .friend__subtitle,
    .friend__subsubtitle,
    .friend__text {
        width: 600px;
        margin-left: 19px;
    }

    .friend__subtitle {
        font-size: 22px;
        line-height: 26px;
    }

    .friend__link::after {
        left: 270px;
        bottom: 0px;
    }

    .friend__text {
        margin-bottom: 30px;
    }
    
    .friend__content {
        position: relative;
        justify-content: space-between;
        margin-bottom: 40px;
        z-index: 1;
    }

    .friend__content-title {
        margin-bottom: 19px;
    }

    .friend__card-img {
        display: none;
    }

    .box-1000-1 {
        right: 92px;
    }

    .box-1000-2 {
        left: -6px;
    }

    .box-1000-3 {
        left: 76px;
    }

    .card-text-1000-1 {
        right: 92px;
    }

    .card-text-1000-2 {
        right: 6px;
    }

    .card-text-1000-3 {
        left: 76px;
    }

    .friend__card-img-mobile {
        display: block;
        width: 86px;
        height: 27px;
        position: absolute;
        z-index: 2;
        bottom: 233px;
    }

    .mob__arrow-1 {
        left: 159px;
    }

    .mob__arrow-2 {
        right: 186px;
    }

    /* TESTIMONIALS */ 
    .testimonials {
        padding-top: 64px;
        padding-bottom: 79px;
    }

    .testimonials__title {
        margin-left: 28px;
    }

    .testimonials__inner {
        flex-direction: column;
        gap: 19px;
        margin-bottom: 43px;
    }

    .testimonials__card {
        width: 596px;
        height: 105px;
        margin-left: 12px;
        padding: 21px;
        overflow: hidden;
    }

    .testimonials__card-top {
        margin-left: -11px;
        margin-bottom: 8px;
    }

    .testimonials__scrollbar {
        display: none;
    }

    .testimonials__btn {
        margin: 0 auto;
        width: 242px;
    }

    .testimonials__decor {
        width: 132px;
        height: 285px;
        right: -6px;
        bottom: -142px;
    }

    /* FOOTER */
    .footer {
        padding-top: 10px;
        padding-bottom: 0px;
        overflow: hidden;
    }

    .footer__left {
        margin-left: 5px;
    }

    .footer__btn {
        margin-bottom: 14px;
    }

    .footer__social {
        position: relative;
        bottom: 154px;
        left: 575px;
        margin-bottom: 16px;
    }

    .footer__form {
        display: none;
    }

    .footer .nav {
        display: block;
    }

    .footer .logo {
        border: 1px solid #fff;
        padding-left: 4px;
        margin-bottom: 35px;
        margin-left: 6px;
    }

    .footer .logo__title {
        font-size: 19px;
        line-height: 23px;
        text-align: center;
    }

    .footer .logo__img {
        width: 14px;
        height: 20px;
        top: 24px;
        left: 0px;
    }

    .social__item span {
        display: none;
    }

    .footer .nav {
        margin-left: -377px;
        margin-bottom: 65px;
    }

    .footer .menu {
        gap: 37px;
    }

    .footer__right-author {
        margin-top: 208px;
        position: relative;
        left: 15px;
    }
}


@media(max-width: 340px) {
    /* HEADER */

    .header .logo {
        margin-left: 0;
    }

    .mobile__menu-icon {
        margin-right: 0px;
    }

    /* FAVORITE */
    .favorite {
        padding-bottom: 68px;
        margin-bottom: 0px;
        
    }

    .watch {
        width: 119px;
        height: 119px;
        top: 22px;
        left: 155px;
    }

    .watch__title {
        font-size: 27px;
        line-height: 20px;
        top: 21px;
        left: 22px;
    }

    .favorite__btn {
        display: none;
    }

    /* BACKSTAGE */

    .backstage {
        padding-top: 21px;
        padding-bottom: 22px;
    }

    .backstage__btn {
        display: block;
        height: 52px;
        margin-bottom: 31px;
    }

    .backstage__title {
        width: 300px;
        font-size: 24px;
        line-height: 29px;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .backstage__text {
        width: 297px;
        margin-left: 2px;
        margin-bottom: 17px;
    }

    .backstage__subtitle {
        margin-left: 3px;
        margin-bottom: 10px;
    }

    .backstage__decor {
        display: block;
        width: 70px;
        height: 216px;
        top: 38px;
        right: -39px;
    }

    /* PETS */
    .pets {
        padding-bottom: 59px;
    }

    .arrow {
        display: none;
    }

    .pets__grid {
        grid-template-columns: repeat(1, 297px);
        gap: 19px;
        margin-bottom: 24px;
    }

    .pets__cell:nth-child(5),
    .pets__cell:nth-child(6) {
        display: none;
    }

    .pets__decor-left {
        width: 234px;
        height: 92px;
        left: -168px;
        bottom: -31px;
    }

    .pets__decor-right {
        width: 79px;
        height: 62px;
        right: -12px;
    }

    /* FRIEND */
    .friend {
        overflow: hidden;
    }
    
    .friend__title {
        font-size: 24px;
        line-height: 29px;
        padding-top: 20px;
        margin-bottom: 10px;
    }

    .friend__subtitle {
        width: 297px;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin-left: 11px;
        margin-bottom: 20px;
    }

    .friend__subsubtitle, 
    .friend__text {
        display: none;
    }

    .friend__container {
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 39px;
    }

    .friend__content-title {
        font-size: 24px;
        line-height: 29px;
    }
    
    .friend__content {
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;
    }

    .box-1000-1 {
        right: 112px;
    }

    .box-1000-2 {
        left: 0px;
    }

    .box-1000-3 {
        left: 108px;
        top: 6px;
    }

    .mob__arrow-1 {
        transform: rotate(85deg);
        left: 208px;
        top: 195px;
    }

    .mob__arrow-2 {
        transform: rotate(85deg);
        right: 6px;
        top: 443px;
    }

    .card-text-1000-1 {
        right: 112px;
        bottom: 18px;
    }

    .card-text-1000-2 {
        right: 0px;
        bottom: 20px;
    }

    .card-text-1000-3 {
        left: 108px;
        bottom: 13px;
    }

    /* TESTIMOMIALS */
    .testimonials {
        padding-top: 29px;
        padding-bottom: 60px;
        overflow: hidden;
    }

    .testimonials__title {
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        margin-bottom: 21px;
    }
    .testimonials__inner {
        margin-bottom: 33px;
    }

    .testimonials__card {
        width: 299px;
        margin-left: 0px;
    }

    .testimonials__decor {
        width: 83px;
        height: 116px;
        right: -15px;
        bottom: -50px;
    }

    /* FOOTER */

    .footer {
        padding-bottom: 60px;
        overflow: hidden;
    }

    .footer .logo {
        margin-top: 8px;
        border: none;
        width: 128px;
        margin-left: 82px;
        margin-bottom: 60px;
    }

    .footer .logo__title {
        width: 128px;
        font-size: 19px;
        line-height: 23px;
        text-align: center;
    }

    .footer .logo__img {
        top: 1px;
        left: 75px;
    }

    .footer__social {
        display: flex;
        gap: 30px;
        bottom: 124px;
        left: 49px;
    }
    .footer__left {
        margin-left: 0px;
    }

    .footer__btn {
        margin-left: 0px;
    }

    .author__text {
        font-size: 15px;
        line-height: 18px;
        width: 220px;
        right: 132px;
        bottom: 5px;
        margin-bottom: 15px;
    }

    .footer .nav {
        position: relative;
        top: 106px;
        left: 89px;
        font-size: 16px;
        line-height: 22px;
    }

    .footer .menu {
        gap: 31px;
    }
}