*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 ,h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
   object-fit: cover; 
}

*:focus {outline: none}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

.container {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}

.btn {
    border: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #F9804B;

    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    transition: all .2s;
}

.btn:hover {
    background-color: #E47209;
}

.btn:active {
    background-color: #4B9200;
}   

/* HEADER */

.header {
    background-color: #000;
    color: #fff;

    padding-top: 14px;
    padding-bottom: 14px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__block {
    display: flex;
    align-items: center;
    gap: 63px;
}

.logo {
    max-width: 82px;
    border: 1px solid #fff;
    display: flex;
    position: relative;
    
}

.logo__title {
    
    font-size: 19px;
    line-height: 23px;
    text-align: center;

}

.logo__img {
    position: absolute;
    top: 43%;
    left: 14%;
}

.mobile__menu {
    display: none;
}

.menu {
    display: flex;
    gap: 58px;

    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.menu__item {
    transition: all .2s;
}

.header__block .nav .menu__item:nth-child(1) {
    color: #F9804B;
}

.menu__item:hover {
    color: #E47209;
}

.menu__item:active {
    color: #4B9200;
}

/* / HEADER */

/*  PANDA */
.panda {
    background-image: url(../images/main/panda/panda_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 390px;
}

/* FRIEND */

.friend {
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    padding-top: 40px;
    padding-bottom: 180px;
}

.friend__title {
    font-size: 36px;
    line-height: 130%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
}

.friend__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #fff;
    margin-bottom: 40px;
}

.friend__subtitle {
    font-size: 36px;
    line-height: 130%;
    color: #fe9013;
    margin-bottom: 60px;
}


.friend__box {
    padding: 51px 100px;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}


.friend__box-title {
    font-size: 48px;
    line-height: 120%;
    color: #fe9013;
    text-align: center;
    margin-bottom: 20px;
}

.friend__box-text {
    font-size: 24px;
    line-height: 120%;
    color: #333b41;
    margin-bottom: 60px;
}

.friend__box-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin-bottom: 48px;
}

.friend__box-innner-text {
    display: flex;
    align-items: center;
    gap: 11px;
}

.friend__box-inner-text-rigth {
    text-align: center;
}

.friend__box-right-num {
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    margin-bottom: 11px;
}

.friend__box-right-text {
    font-size: 16px;
    line-height: 140%;
    color: #333b41;
}

.friend__box-middle-title {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 10px;
}

.friend__box-middle-rectangle {
    min-width: 100%;
    min-height: 27px;
    background-color: #404950;
    border-radius: 2px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 110px;
}

.friend__box-rectangle-band {
    min-width: 100%;
    min-height: 2px;
    background-color: #72828e;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.friend__band-circle {
    position: absolute;
    top: -5px;
}

.friend__box-rectangle-band .friend__band-circle:hover .cirlce-num__item {
    color: #fe9013;
}

.circle-1 {
    right: 895px;
}

.circle-2 {
    right: 765px;
}

.circle-3 {
    right: 635px;
}

.circle-4 {
    right: 505px;
}

.circle-5 {
    right: 375px;
}

.circle-6 {
    right: 245px;
}

.circle-7 {
    right: 115px;
}

.circle-8 {
    right: 0;
}

.band__circle-num {
    position: absolute;
    left: -31px;
    top: 20px;
    display: flex;
    gap: 65px;
}

.cirlce-num__item {
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    color: #333b41;
}

/* FOOTER */

.footer {
    padding-top: 41px;
    padding-bottom: 26px;
    background-color: #111115;
    color: #fff;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer .logo {
    margin-bottom: 68px;
}

.footer__left-content-btn {
    padding: 16px 45px;
    border-radius: 5px;
    margin-bottom: 44px;
}

.social__item {
    margin-bottom: 10px;
}

.social__link {
    display: inline-flex;
    gap: 12px;
    align-items: center;
    transition: all .2s;
}

.social__link:hover  {
    color: #E47209;
}

.social__link:active  {
    color: #4B9200;
}

.social__link circle {
    transition: all .2s;
}

.facebook:hover circle {
    fill: #3754a0;
}

.twitter:hover circle {
    fill: #17a2f2;
}


.instagram:hover circle {
    fill: #a340b2;
}

.youtube:hover circle {
    fill: #ff0000;
}

.footer__middle-content {
    display: flex;
    align-items: flex-end;
}

.footer__middle-content .menu .menu__item:nth-child(1) {
    color: #E47209;
}

.footer__right-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__form-title {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 14px;
}

.footer__form-input {
    background-color: transparent;
    border: 1px solid #fe9013;
    border-radius: 2px;
    padding: 10px 34px 10px 10px;
    color: #fff;
    margin-right: 10px;
}

.footer__form-btn {
    background-color: #f1f3f2;
    border: 1px solid #4B9200;
    border-radius: 5px;
    padding: 8px 39px;
    font-size: 16px;
    line-height: 140%;
    color: #4B9200;
    transition: all .2s;
}

.footer__form-btn:hover {
    border-color: #E47209;
    background-color: #E47209;
    color: #fff;
}

.footer__form-btn:active {
    background-color: #4B9200;
    color: #fff;
}

.footer__right-content-author {
    align-self: flex-end;
}

.footer__author {
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 10px;
}

.footer__author:last-child {
    margin-bottom: 0;
}

/* /FOOTER */



/* 1550 */
@media(max-width: 1550px) {
    
}

/* 1500 */
@media(max-width: 1500px) {
   
}

/* 1420 */
@media (max-width: 1420px) {
    
}

/* 1340 */
@media (max-width: 1340px) {
   

}

/* 1190 */
@media(max-width: 1190px) {
   
    
}


/* 1060 */
@media(max-width: 1060px) {
    .footer__left-content-btn {
        padding: 16px 35px
    }
    
    .footer__form-input {
        padding: 10px 10px 10px 10px;
    }
    
    .footer__form-btn {
        padding: 8px 30px;
    }
}


/* 1000 */
@media(max-width: 1000px) {
    /* HEADER */
    .header {
        padding-bottom: 16px;
    }

    .header .menu {
        gap: 48px;
    }
    /*-----------------------------*/

    

    

   
    
    /* FOOTER */
    .footer__left-content-btn {
        padding: 16px 25px;
    }

    .footer__form-btn {
        padding: 8px 25px
    }
}

/* 976 */
@media(max-width: 976px) {
    .footer__form {
        display: none;
    }

    .footer .menu {
        gap: 50px;
    }

    .footer__right-content {
        justify-content: flex-end;
    }
    
   
    
}

/* 920 */
@media(max-width: 920px) {
    .footer .menu {
        gap: 30px;
    }

    .footer .social__link span {
        display: none;
    }

}

/* 860 */
@media(max-width: 860px) {

    .footer {
        position: relative;
        padding-top: 20px;
    }


    .footer .logo {
        margin-bottom: 40px;
    }

    .footer__left-content-btn {
        margin-bottom: 85px;
    }

    .footer__social {
        position: absolute;
        top: 9%;
        right: 1%;
    }

    .footer__middle-content {
        position: absolute;
        bottom: 10%;
        left: 1%;
    }

}

/* 750 */
@media(max-width: 750px) {
    /* HEADER */
    .header .nav {
        display: none;
    }

    .mobile__menu {
        display: block;
    }

    .mobile__menu-icon {
        cursor: pointer;
    }

    .icon__1, 
    .icon__2,
    .icon__3 {
        width: 18px;
        height: 2px;
        background-color: #fff;
        border-radius: 2;
        margin-bottom: 3px;
        transition: all .2s;
    }

    .mobile__menu-icon:hover .icon__1,
    .mobile__menu-icon:hover .icon__2,
    .mobile__menu-icon:hover .icon__3 {
        background-color: #E47209;
    }

    .mobile__menu-icon:active .icon__1,
    .mobile__menu-icon:active .icon__2,
    .mobile__menu-icon:active .icon__3 {
        background-color: #4B9200;
        transform: rotate(180deg);
    }

    .mobile__menu .menu {
        display: none;
    }
    /*-----------------------------*/
   
}

/* 660 */
@media(max-width: 660px) {
    
}

/* 650 */
@media(max-width: 650px) {
    /* HEADER */
    .header {
        padding-top: 3px;
        padding-bottom: 2px;
    }

    .header .logo {
        border: none;
        max-width: 65px;
    }

    .header .logo__title {
        font-size: 12px;
        line-height: 120%;
    }

    .header .logo__img {
        width: 10px;
        height: 12px;
        top: 47%;
        left: 19%;
    }

    /*-----------------------------*/ 
}

/* 635*/
@media(max-width: 635px) {
   
}

/* 580 */
@media(max-width: 580px) {
    /*-----------------------------*/
    .footer {
        padding-bottom: 290px;
    }

    .footer .logo {
        border: none;
        max-width: 128px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .footer .logo__title {
        font-size: 19px;
        line-height: 120%;
    }

    .footer .logo__img {
        top: 0%;
        left: 58%;
    }

    .footer__left-content-btn {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 38%;
        width: 298px;
    }


    .footer__social {
        display: flex;
        gap: 30px;
        left: 57%;
        transform: translateX(-57%);
        top: 21%;
    }

    .footer__right-content-author {
        position: absolute;
        top: 60%;
    }

    .footer__middle-content {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 278px;
    }
}

/* 540 */
@media(max-width: 540px) {
    
}

/* 500*/
@media(max-width: 500px) {
   
}

/* 430 */
@media(max-width: 430px) {

}

/* 340 */
@media(max-width: 340px) {
    .footer__social {
        left: 45%;
        transform: translateX(-45%);
    }
}


