*,
*::after,
*::before {
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 ,h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
   object-fit: cover; 
}

*:focus {outline: none}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    
}

.container {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}

.btn {
    display: block;
    background-color: #F9804B;
    width: 298px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

/*  HEADER  */

.header {
    color: #fff;
    background-color: #000;
    padding-top: 14px;
    height: 80px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__left {
    display: flex;
    align-items: center;
    gap: 63px;
}

.logo {
    width: 82px;
    height: 52px;
    margin-left: 4px;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 3px 0px;
    position: relative;
    transition: all .2s;
    cursor: pointer;
}

.logo__title {
    font-size: 19px;
    line-height: 120%;
    text-align: center;
}

.logo__img {
    position: absolute;
    top: 23px;
    left: 9px;
}

.logo:hover {
    border-color: #E47209;
    color: #E47209;
}

.logo:active {
    border-color: #4B9200;
    color: #4B9200;
}

.menu {
    display: flex;
    gap: 58px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.header .nav .menu__item:nth-child(4) {
    color: #F9804B;
}

.menu__item {
    transition: all .2s;
}

.menu__item:hover {
    color: #E47209;
}

.menu__item:active {
    color: #4B9200;
}

.nav__two .menu__item {
    margin-right: -4px;
}

.mobile__menu {
    display: none;
}

/*  /HEADER  */


.panda {
    height: 386px;
    background-image: url(../images/main/panda/panda_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.friend {
    padding-top: 40px;
    padding-bottom: 180px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    color: #fff;
}

.friend__title {
    font-size: 36px;
    line-height: 130%;
    margin-bottom: 10px;
    margin-left: 4px;
}

.friend__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 46px;
    margin-left: 4px;
}

.friend__informations {
    font-size: 36px;
    line-height: 130%;
    color: #fe9013;
    margin-bottom: 59px;
    margin-left: 4px;
}

.friend__content {
    width: 1160px;
    margin-left: 4px;
    padding: 40px 92px 62px 92px;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.content__title {
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #fe9013;
    margin-bottom: 20px;
    margin-right: 13px;
}

.content__text {
    font-size: 24px;
    line-height: 120%;
    color: #333841;
    margin-bottom: 60px;
}

.content__top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    margin-bottom: 49px;
  
}

.content__top-left {
    display: flex;
    align-items: center;
    margin-top: 58px;
    margin-right: 24px;
}

.content__top-text {
    margin-left: 20px;
}

.content__top-number {
    font-weight: 500;
    font-size: 72px;
    line-height: 80%;
    text-align: center;
    color: #000;
    margin-bottom: 11px;
}


.content__top-day {
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #333b41;
}

.content__top-left-img {
    width: 14px;
    height: 14px;
    margin-bottom: 29px;
    margin-left: 21px;
    position: relative;
    right: 10px;
}

.content__top-right-img {
    position: relative;
    right: 34px;
}

.friend__amount-title {
    font-size: 16px;
    line-height: 140%;
    color: #000;
    margin-bottom: 16px;
    margin-left: 4px;
}

.friend__amount-band {
    width: 100%;
    height: 27px;
    background-color: #404950;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 98px;
}

.friend__amount-bar {
    width: 915px;
    height: 2px;
    background-color: #72828e;
    display: flex;
    justify-content: space-between;
}

.amount__bar-circle {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: #ffee2e;
    border-radius: 50%;
    align-self: center;
    cursor: pointer;
}

.amount__bar-circle:hover::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../images/main/friend/roller_icon.svg);
    position: relative;
    bottom: 15px;
    right: 15px;
}

.amount__bar-circle:after {
    content: "";
    position: absolute;
    top: 30px;
    right: -33px;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    color: #333b41;
    transition: all .2s;

}

.amount__bar-circle:nth-child(1):after {
    content: "$5000";
}

.amount__bar-circle:nth-child(2):after {
    content: "$2000";
}

.amount__bar-circle:nth-child(3):after {
    content: "$1000";
}

.amount__bar-circle:nth-child(4):after {
    content: "$500";
    right: -18px;
}

.amount__bar-circle:nth-child(5):after {
    content: "$250";
    right: -18px;
}

.amount__bar-circle:nth-child(6):after {
    content: "$100";
    right: -18px;
}

.amount__bar-circle:nth-child(7):after {
    content: "$50";
    right: -8px;
}

.amount__bar-circle:nth-child(8):after {
    content: "$25";
    right: -11px;
}

.amount__bar-circle::before {
    transition: all 5s;
}

.amount__bar-circle:hover:after {
    color: #E47209;
}

.amount__bar-circle:active:after {
    color: #4B9200;
}

.friend__form {
    width: 298px;
    margin: 0 auto;
}

.friend__input {
    width: 268px;
    background-color: transparent;
    border: 1px solid #929699;
    border-radius: 2px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 9px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 25px;
}

.friend__input-wrapper {
    position: relative;
    margin-left: 15px;
}

.friend__input-wrapper::after {
    content: "";
    display: block;
    background-image: url(../images/main/friend/dollar.svg);
    width: 10px;
    height: 20px;
    position: absolute;
    top: 17px;
    right: 25px;
}

.friend__form {
    margin-bottom: 30px;
}

.friend__form-radio {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 77px;
}


.form-radio label {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333841;
    margin-left: 11px;
}


.form__radio {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    padding-left: 20px;
}

.form-radio-new {
    position: absolute;
    width: 16px;
    height: 16px;
    border: 1px solid #fe9013;
    border-radius: 50%;
    margin-left: -20px;
}

.form__radio:checked + .form-radio-new::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #fe9013;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}


.friend__form-btn {
    border: none;
    border-radius: 25px;
    background-color: #F9804B;
    padding: 16px 73px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    transition: all .2s;
}

.friend__form-btn:hover {
    background: #E47209;
}

.friend__form-btn:active {
    background: #4B9200;
}

.friend__text{
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #333841;
}

/*  FOOTER  */

.footer {
    background-color: #000;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 50px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer .logo {
    margin-bottom: 68px;
}

.footer__btn {
    border-radius: 5px;
    padding: 16px 49px;
    margin-bottom: 44px;
    margin-left: 4px;
    cursor: pointer;
    transition: all .2s;
}

.footer__btn:hover {
    background-color: #E47209;
}

.footer__btn:active {
    background-color: #4B9200;
}

.footer__social {
    margin-left: 4px;
}

.social__item {
    margin-bottom: 6px;
}

.social__item:last-child {
    margin-bottom: 0;
}

.social__link span {
    position: relative;
    bottom: 6px;
    margin-left: 6px;
}
    

.social__link {
    transition: all .2s;
}

.social__link:hover  {
    color: #E47209;
}

.social__link:active  {
    color: #4B9200;
}

.social__link circle {
    transition: all .2s ease-in-out;
}

.facebook:hover circle {
    fill: #3754a0;
}

.twitter:hover circle {
    fill: #17a2f2;
}

.instagram:hover circle {
    fill: #a340b2;
}

.youtube:hover circle {
    fill: #ff0000;
}

.footer .nav {
    align-self: flex-end;
    margin-left: 71px;
    margin-bottom: 5px;
}

.footer__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__right-title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 14px;
}

.form__input {
    width: 228px;
    height: 42px;
    background-color: transparent;
    border: 0.7px solid #F9804B;
    border-radius: 2px;
    margin-right: 3px;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    padding-left: 10px;
}

.form__input::placeholder {
    padding: 10px 100px 10px 5px;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
}

.form__btn {
    display: inline-block;
    width: 129px;
    height: 41px;
    background-color: #f1f3f2;
    border: 1px solid #4B9200;
    border-radius: 5px;
    padding: 10px 39px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #4B9200;
    transition: all .2s;
}

.form__btn:hover  {
    color: #fff;
    background-color: #E47209;
    border-color: #E47209;
}

.form__btn:active {
    background-color: #4B9200;
    border-color: #4B9200;
}

.footer__right-author {
    align-self: flex-end;
    margin-bottom: 5px;
}

.author__text {
    font-weight: 100;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 10px;
}

.author__text:last-child {
    margin-bottom: 0;
}

/*  /FOOTER  */

@media(max-width: 1000px) {
     /* HEADER */
     .menu {
        gap: 48px;
    }

    .nav__two .menu__item {
        margin-right: 36px;
    }

    /* PANDA */
    .panda {
        height: 390px;
    }

    /* FRIEND */
    .friend {
        padding-bottom: 13px;
    }

    .friend__title {
        width: 778px;
    }

    .friend__subtitle {
        width: 939px;
        margin-bottom: 66px;
    }

    .friend__informations {
        margin-bottom: 38px;
    }

    .friend__content {
        width: 940px;
        padding: 21px 92px 62px 48px;
    }

    .content__title {
        margin-right: 0px;
        margin-left: 29px;
        margin-bottom: 12px;
    }

    .content__text {
        width: 849px;
        font-size: 24px;
        line-height: 29px;
    }
    .content__top-left {
        margin-right: 0px;
        margin-left: 17px;
    }

    .content__top-right-img {
        right: 8px;
    }

    .friend__amount-title {
        margin-left: 17px;
    }

    .friend__amount-band {
        margin-left: 22px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .friend__input {
        margin-left: 22px;
    }

    .friend__form-radio {
        margin-left: 43px;
    }

    .friend__form-btn {
        position: relative;
        left: 25px;
    }

    .friend__text {
        margin-left: 47px;
    }

     /* FOOTER */
     .footer__left {
        margin-left: 14px;
    }

    .footer__right-title {
        position: relative;
        right: 83px;
    }

    .form__input {
        position: relative;
        right: 83px;
    }

    .form__btn {
        position: relative;
        bottom: 41px;
        left: 154px;
    }

    .footer .nav {
        margin-left: -8px;
        margin-bottom: 4px;
    }

    .footer .nav .menu__item:last-child {
        width: 78px;
    }

    .author__text {
        position: relative;
        right: 25px;
    }
}

@media(max-width: 660px) {
     /* HEADER */
     .header {
        height: 34px;
        padding-top: 0px;
        
    }

    .logo {
        margin-left: 10px;
        border: none;
    }

    .logo__title {
        width: 47px;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
    }

    .logo__img {
        width: 11px;
        height: 13px;
        top: 16px;
        left: 3px;
    }

    .nav, 
    .nav__two {
        display: none;
    }

    .mobile__menu {
        display: block;
    }

    .mobile__menu-icon {
        margin-right: 10px;
        margin-bottom: 21px;
        cursor: pointer;
    }

    .icon__1, 
    .icon__2,
    .icon__3 {
        width: 18px;
        height: 2px;
        background-color: #fff;
        border-radius: 2;
        margin-bottom: 3px;
        transition: all .2s;
    }

    .icon__3 {
        margin-bottom: 0;
    }

    .mobile__menu-icon:hover .icon__1,
    .mobile__menu-icon:hover .icon__2,
    .mobile__menu-icon:hover .icon__3 {
        background-color: #E47209;
    }

    .mobile__menu-icon:active .icon__1,
    .mobile__menu-icon:active .icon__2,
    .mobile__menu-icon:active .icon__3 {
        background-color: #4B9200;
        transform: rotate(180deg);
    }

    .mobile__menu .menu {
        display: none;
    }

    /* PANDA */
    .panda {
        height: 336px;
    }

    /* FRIEND*/
    .friend {
        padding-top: 29px;
        padding-bottom: 46px;
    }

    .friend__title {
        width: 600px;
        font-size: 25px;
        line-height: 29px;
        margin-bottom: 20px;
    }

    .friend__subtitle {
        width: 600px;
        margin-bottom: 29px;
    }

    .friend__informations {
        margin-bottom: 28px;
    }

    .friend__content {
        width: 600px;
        padding: 28px 92px 62px 48px;
        height: 918px;
    }

    .content__title {
        width: 463px;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        margin-bottom: 22px;
    }

    .content__text {
        width: 600px;
        text-align: center;
        margin-left: -42px;
    }
    .content__top-left {
        margin-right: 0px;
        margin-left: 31px;
        margin-bottom: 20px;
    }

    .content__top-day {
        width: 159px;
    }

    .content__top-right-img {
        right: 0;
        left: -10px;
        bottom: 10px;
    }

    .friend__amount-title {
        position: relative;
        bottom: 18px;
        right: 49px;
    }

    .friend__amount-band {
        width: 600px;
        position: relative;
        margin-left: 0;
        right: 48px;
        bottom: 27px;
        padding-left: 41px;
        padding-right: 29px;
    }

    .amount__bar-circle:nth-child(1) {
        display: none;
    }

    .amount__bar-circle:nth-child(2) {
        display: none;
    }

    .amount__bar-circle:nth-child(3) {
        display: none;
    }


    .friend__input {
        width: 180px;
        height: 42px;
        margin-left: 72px;
        position: relative;
        bottom: 26px;
        margin-bottom: 5px;
    }

    .friend__input-wrapper::after {
        top: -16px;
        right: 41px;
    }

    /* FOOTER */
    .footer {
        padding-top: 10px;
        padding-bottom: 0px;
        overflow: hidden;
    }

    .footer__left {
        margin-left: 5px;
    }

    .footer__btn {
        margin-bottom: 14px;
    }

    .footer__social {
        position: relative;
        bottom: 154px;
        left: 575px;
        margin-bottom: 16px;
    }

    .footer__form {
        display: none;
    }

    .footer .nav {
        display: block;
    }

    .footer .logo {
        border: 1px solid #fff;
        padding-left: 4px;
        margin-bottom: 35px;
        margin-left: 6px;
    }

    .footer .logo__title {
        font-size: 19px;
        line-height: 23px;
        text-align: center;
    }

    .footer .logo__img {
        width: 14px;
        height: 20px;
        top: 24px;
        left: 0px;
    }

    .social__item span {
        display: none;
    }

    .footer .nav {
        margin-left: -377px;
        margin-bottom: 65px;
    }

    .footer .menu {
        gap: 37px;
    }

    .footer__right-author {
        margin-top: 208px;
        position: relative;
        left: 15px;
    }
}

@media(max-width: 380px) {
     /* HEADER */
     .header .logo {
        margin-left: 0;
    }

    .mobile__menu-icon {
        margin-right: 0px;
    }

    /* PANDA */
    .panda {
        height: 187px;
    }

    /* FRIEND */
    .friend {
        padding-top: 30px;
        padding-bottom: 22px;
    }

    .friend__title {
        width: 300px;
    }

    .friend__subtitle {
        width: 300px;
        margin-bottom: 26px;
    }

    .friend__informations {
        font-size: 24px;
        line-height: 29px;
    }


    .friend__content {
        width: 300px;
        height: 591px;
        padding: 7px 92px 62px 48px;
    }

    .content__title {
        font-size: 24px;
        line-height: 29ox;
        text-align: center;
        margin-left: -134px;
        margin-bottom: 0px;
    }

    .content__text {
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        width: 300px;
        margin-left: -49px;
        margin-bottom: 6px;
    }

    .content__top-left {
        margin-left: 66px;
    }

    .content__top-number {
        font-size: 41px;
        line-height: 32px;
    }

    .content__top-day {
        font-size: 9px;
        line-height: 13px;

    }

    .content__top-left-img {
        width: 8px;
        height: 8px;
        right: 39px;
        top: 3px;
    }

    .content__top-right-img {
        width: 174px;
        height: 136px;
        left: -70px;
        bottom: -2px;
    }

    .friend__amount-band {
        width: 300px;
        height: 14px;
        right: 48px;
        bottom: 52px;
    }

    .amount__bar-circle {
        width: 5px;
        height: 5px;
    }

    .amount__bar-circle:hover::before {
        width: 20px;
        height: 20px;
    }

    .amount__bar-circle:after {
        font-size: 13px;
        line-height: 18px;
        top: 16px;
    }

    .amount__bar-circle:nth-child(4):after {
        right: -9px;
    }

    .amount__bar-circle:nth-child(5):after {
        right: -9px;
    }

    .amount__bar-circle:nth-child(5):after {
        right: -9px;
    }

    .amount__bar-circle:nth-child(8):after {
        right: -7px;
    }

    .friend__input {
        margin-left: -6px;
        position: relative;
        bottom: 101px;
    }

    .friend__input-wrapper::after {
        top: -90px;
        right: 119px;
    }


    .friend__form-radio {
        position: relative;
        bottom: 79px;
        right: 66px;
    }

    .friend__form-btn {
        left: -46px;
        bottom: 83px;
    }

    .friend__text {
        width: 301px;
        position: relative;
        bottom: 81px;
        right: 96px;
    }
    /* FOOTER */

    .footer {
        padding-bottom: 60px;
        overflow: hidden;
    }

    .footer .logo {
        margin-top: 8px;
        border: none;
        width: 128px;
        margin-left: 82px;
        margin-bottom: 60px;
    }

    .footer .logo__title {
        width: 128px;
        font-size: 19px;
        line-height: 23px;
        text-align: center;
    }

    .footer .logo__img {
        top: 1px;
        left: 75px;
    }

    .footer__social {
        display: flex;
        gap: 30px;
        bottom: 124px;
        left: 49px;
    }
    .footer__left {
        margin-left: 0px;
    }

    .footer__btn {
        margin-left: 0px;
    }

    .author__text {
        font-size: 15px;
        line-height: 18px;
        width: 220px;
        right: 132px;
        bottom: 5px;
        margin-bottom: 15px;
    }

    .footer .nav {
        position: relative;
        top: 106px;
        left: 89px;
        font-size: 16px;
        line-height: 22px;
    }

    .footer .menu {
        gap: 31px;
    }
}